

<footer class="pt-4 " style=" background-color: #121416;">
    <div class="container">
        <h5>Made out of boredom by
            <span style="text-decoration: underline" data-toggle="modal"
             data-target="#contactModal" class="pointer">
                Dhruv Gajwa
            </span> 
        </h5>
        <p class="text-muted">This project is made to improve the availability of information(Reviews, past year papers,
            reference materials, notes...blah blah ) <br>
            in correspondence with course GN5002: Discovering Creativity  </p> 
        <p class="text-muted">
            If you like it..share it!!! 
            If you have a suggestion... email me@ dhruvg.dakshana16@gmail.com
        </p>
        <p class="text-muted" style="margin-bottom: 0px;">
            If you seek to help me technically to make it better....again! drop an email!
        </p>
    </div>
    
  
  </footer>

  <!-- Modal -->
<div id="contactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Contact Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        EventHive.in <br>
        Jauma 446, IIT Madras <br>
        Chennai 600036 <br>
        7092541851 <br>
        EventHiveChennai@gmail.com <br>
        <br>
        <br>

        <div class="row no-gutters">
          <div class="col-4 align-self-center text-center">
            <img src="../../../assets/dhruvg.jpg" alt="DHruv Gajwa" class="rounded-circle img">
          </div>
          <div class="col-8 align-self-center">
            Dhruv Gajwa <br>
            dhruvg.dakshana16@gmail.com <br>
            9754436607 <br>
          </div>
        </div>
        
      </div>
      
    </div>

  </div>
</div>